* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;   
}
body {
  font: normal 14px Roboto,arial,sans-serif;
  background-color: #e0e0e0;
  -webkit-user-select: none;
}

/*  TITLEBAR  */

.titlebar {
  background: -webkit-linear-gradient(#e9e9e9, #b2b2b2);
  height: 44px;
  width: 100%;
  -webkit-app-region: drag;
  cursor: default;
  position: fixed;
  z-index: 100;
}
.title-buttons {
  position: fixed;
  top: 4px;
  left: 4px;
}
.fl {float:left;}
.divider {
  height: 34px;
  width: 1px;
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);
}
.title-button {
  margin: 0;
  width: 14px;
  height: 34px;
  -webkit-app-region: no-drag;
}
.title-button:active {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);
}
.button-quit {background: no-repeat url(../img/window-controls.png) 0 0;}
.button-quit:hover {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 100%), no-repeat url(../img/window-controls.png) 0 0;
}
.button-quit:active {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%), no-repeat url(../img/window-controls.png) 0 0;
}
.button-quit-no, .button-quit-no:hover, .button-quit-no:active {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%), no-repeat url(../img/window-controls.png) 0 -34px;
}
.button-mini {background: no-repeat url(../img/window-controls.png) -14px 0;}
.button-mini:hover {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 100%), no-repeat url(../img/window-controls.png) -14px 0;
}
.button-mini:active {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%), no-repeat url(../img/window-controls.png) -14px 0;
}
.button-mini-no, .button-mini-no:hover, .button-mini-no:active {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%), no-repeat url(../img/window-controls.png) -14px -34px;
}
.button-full {background: no-repeat url(../img/window-controls.png) -28px 0;}
.button-full:hover {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 100%), no-repeat url(../img/window-controls.png) -28px 0;
}
.button-full:active {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%), no-repeat url(../img/window-controls.png) -28px 0;
} 
.button-full-no, .button-full-no:hover, .button-full-no:active {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%), no-repeat url(../img/window-controls.png) -28px -34px;
} 
.title-navs {
  position: fixed;
  top: 4px;
  left: 15%;
  width: 70%;
  text-align: center;
  color: rgba(0,0,0,0.75);
}
.title-navs-cont {
  display: inline-block;
  -webkit-app-region: no-drag;
}
.title-nav {
  font: 300 15px/34px Roboto,arial,sans-serif;
  padding: 0 4px;
}
.title-nav:hover {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 100%);
}
.title-nav:active {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);
}
.title-nav-selected, .title-nav-selected:hover, .title-nav-selected:active {
  font: 300 15px/34px Roboto,arial,sans-serif;
  padding: 0 4px;
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 35%, rgba(0,0,0,0.4) 65%, rgba(0,0,0,0) 100%);
  color: rgba(255,255,255,0.75);
}


/* ALL PAGES */

.cont-homme, .cont-conj, .cont-less, .cont-user {display:none;}

table tr:not(:last-child) {
  border-bottom: 1px solid #cfcfcf;
}
table td:not(:last-child) {
  border-right: 1px dashed #cfcfcf;
}
table th:not(:last-child) {
  border-right: 1px dashed #fff;
}
table td, table th {
  padding: 4px;
}
table th {
  background-color: #cfcfcf;
}
table th:first-child {
  border-top-left-radius: 4px;
}
table th:last-child {
  border-top-right-radius: 4px;
}
table td:last-child a.hidden:hover:after {
  content: '\3009';
  position: absolute;
  right: 12px;
}

a {
  color: #0b85ef;
  text-decoration-color: transparent;
  -webkit-transition: all 250ms;
}
a:hover, a.hidden:hover {
  color: #005db2;
  text-decoration-color: currentColor;
}
a.hidden {
  color: inherit;
}


.container {
  margin-right: auto;
  margin-left: auto;
  padding: 62px 15px 0;
}

/* BLOCK LAYOUT */

.column   {width: 100%;}
.column-2 {width: 50%;}
.column-3 {width: 33.33333333%;}
.column-4 {width: 25%;}

.column, .column-2, .column-3, .column-4 {
  float: left;
}
.padleft {
  padding-left: 15px;
}
.padright {
  padding-right: 15px;
}
.column h3, .column-2 h3, .column-3 h3, .column-4 h3 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  padding: 6px 0 6px 0;
  position: sticky;
  top: 48px;
  margin-top: 0px;
  margin-bottom: 6px;
  margin-left: 10%;
  width: 80%;
  background-color: rgba(224, 224, 224, 0.6);
  border-radius: 3px;
  border: 1px solid rgba(224, 224, 224, 0.9);
  display: block;
  z-index: 1;
}
.panel {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  box-shadow: 0 1px 0 #cfcfcf;
  border-radius: 3px;
  cursor: pointer;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background-color,bottom 250ms ease;
}
.panel:hover {
  bottom: 4px;
  background-color: #f3f3f3;
}
.panel-head {
  padding: 10px 15px 0 15px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  color: #262626;
  border-color: #ffffff;
}

.panel-meta {
  font-weight: 400;
  font-size: 11px;
  float: right;
  font-style: italic;
  color: #999;
}

.panel-head h4 {
  border: 0 solid #cfcfcf;
  border-bottom-width: 1px;
  padding-bottom: 10px;
}
.panel h2 {
  font-size: 22px;
  border: 0 solid #cfcfcf;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  text-align: center;
}

.panel-body {
  padding: 10px 15px 15px 15px;
}

.action-button {
  display: block;
  font: 400 16px Roboto,arial,sans-serif;
  color: #ffffff;
  margin: 14px 0 0 0;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #006aba;
  padding: 8px;
  background-color: #0496ff;
  -webkit-transition: background-color 250ms ease;
}

.panel:hover .action-button {
  background-color: #007edd;
}

.panel-large {
  width: 90%;
  margin-left: 5%;
}

@media (min-width: 1400px) {
  .container {
    padding-left: 88px;
    padding-right: 88px;
  }
  .padleft {
    padding-left: 38px;
  }
  .padright {
    padding-right: 38px;
  }
  .panel-large {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 1800px) {
  .container {
    padding-left: 138px;
    padding-right: 138px;
  }
  .padleft {
    padding-left: 48px;
  }
  .padright {
    padding-right: 48px;
  }
}

/*  HOME PAGE  */




/*  LESSON PAGE  */


.panel input {
  width: 90%;
  margin-left: 5%;
  font: 28px/46px Roboto,arial,sans-serif;
  border-radius: 3px;
  border: 1px solid #cfcfcf;
  padding: 4px 18px 4px 8px;
}
.panel input:focus {
  outline: none;
  box-shadow: 0 0 8px 4px #fff;
}
.panel input::-webkit-input-placeholder {
  color: lightgray;
}
.panel input::-webkit-search-cancel-button{
  position:relative;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius:3px;
  background: #cfcfcf;
  -webkit-transform: none;
  -webkit-transition: -webkit-transform 400ms ease-out;
}
.panel input::-webkit-search-cancel-button:hover{
  position:relative;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius:3px;
  -webkit-transform: rotate(225deg)
}

.tense-desc {
  border: 0 solid #cfcfcf;
  border-bottom-width: 1px;
  padding-bottom: 10px;
}
.tense-examples {
  border: 0 solid #cfcfcf;
  border-bottom-width: 1px;
  padding: 10px 0;
  height: 50px;
}
.tense-examples div {
  display: inline-block;
}
.tense-examples .pronoun {
  width: 100px;
  font: 300 14px Roboto,arial,sans-serif;
  line-height: 30px;
  text-align: right;
  border: 0 solid #cfcfcf;
  border-right-width: 1px;
  padding-right: 2px;
}
.tense-examples .verb {
  font: 500 16px Roboto,arial,sans-serif;
}